.bigTitle {
  font-size: 8em !important;
}

#ui-datepicker-div {
  display: none;
}

.profileInfo {
  margin-left: 20px;
  font-size: 1.2em;
}

.keywordLabel {
  margin: 10px !important;
}

.main-content {
  margin-top: 60px !important;
}

#landingImage {
  background-image: url('../../assets/earth.jpg');
  height: 500px;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1b1c1d;
  color: #f8f8f8;
  -webkit-text-size-adjust: none;
}

