<div class="ui left action input">
    <div class="ui blue button">
      <i class="calendar icon"></i>
    </div>
  <input type="text" placeholder="MM/DD/YYYY">
</div>
<div class="ui left action input">
    <div class="ui blue button">
      <i class="calendar icon"></i>
    </div>
  <input type="text" placeholder="MM/DD/YYYY">
</div>  
<div class="ui labeled icon input">
    <div class="ui blue label">
      Keyword: 
    </div>
    <input type="text" placeholder="Enter Keyword Here">
</div>  
