node_modules/
bower_components/
*.log
tmp/
*.DS_Store

streaming/config.js
build/
dist/
docs/
server/db/config.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
spike
