packages:
  yum:
    git: []
    openssl-devel: []
    expat-devel: []
    gettext-devel: []
    zlib-devel: []
container_commands:
  02_install_node:
    command: "yum install -y nodejs npm --enablerepo=epel"
  03_install_node:
    command: "npm install -g bower"
  05_npm_install:
    command: "npm install"
  07_bower_install:
    env:
      HOME: "/usr/bin"
      PATH: "/usr/bin"
    command: "bower install --allow-root"
