<!-- <div class="one column centered row">
  <div class="column">
    <h1 class="ui center aligned huge header bigTitle">SOTG</h1>
    <img class="ui centered huge image" src="../../assets/earth.jpg">
    <h4 class="ui center aligned huge header">Data. Democratized. Twitter. Tweets. Sentiment.</h4>
  </div>
</div> -->
<div class="ui vertical masthead center aligned segment" id="landingImage">
  <div class="ui text container">
    <h1 class="ui huge inverted header bigTitle">SOTG</h1>
    <h1 class="ui huge inverted header">Harness the power of Streaming Big Data</h1>
  </div>
</div>
<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h1>Get all the Pizza Data</h1>
        <p>pizza. pizza. pizzapizzapizza.</p>
      </div>
      <div class="column">
        <h1>Own your cloud</h1>
        <p>Create a custom account with individualized keywords, just 4 u! :D</p>
      </div>
      <div class="column">
        <h1>Brand Sentiment</h1>
        <p>Our advanced machine learning algorithms will provide insights into how customers engage with your brand.</p>
      </div>
    </div>
  </div>
</div>
