<div ng-controller="profileController as profile">
  <h2>HI</h2>
  <h2 ng-show="profile.username">username :  {{profile.username}} </h2>
  <h2 ng-show="profile.apiKey">API Key :  {{profile.apiKey}} </h2>
  <ul>
    <ul ng-repeat="keyword in profile.keywords">{{keyword}}</li>
  </ul>
  <div ng-show="profile.error" class="ui negative message">
    <i ng-click="profile.error = null" class="close icon"></i>
    <div class="header">
    Whoops!
    </div>
    <p>{{ profile.error }}</p>
    <a ui-sref="login">Go to Log In page.</a>
  </div>
</div>
