<div class="row">
  <div class="two wide column">
    <div class="ui big horizontal green label">GET</div>
    <div class="ui big horizontal orange label">POST</div>
    <div class="ui big horizontal red label">DELETE</div>
  </div>
  <div class="fourteen wide column">
    <h2 class="ui huge header">http://sotg.xyz/api?...</h2>
    <div class="ui divider"></div> 
  </div>
</div>
<div class="one column centered row">
  <button class="ui green basic button">Submit Query</button>
  <button class="ui green basic button">Copy to Clipboard</button>
</div>
<div class="seven column centered row">
  <button class="ui labeled icon button"><i class="search icon"></i>Search</button>
  <button class="ui labeled icon button"><i class="zoom icon"></i>Keywords</button>
  <button class="ui labeled icon button"><i class="heartbeat icon"></i>Sentiment</button>
  <button class="ui labeled icon blue button"><i class="wait icon"></i>Time Range</button>
</div>
<div class="ui divider"></div>
<div class="seven column centered row">
  <div class="ui labeled icon input">
      <div class="ui blue label">
        Keyword: 
      </div>
      <input type="text" placeholder="Enter Keyword Here">
  </div>
</div>
<div class="ui divider"></div>
<div class="seven column centered row">
  <div class="ui buttons">
    <button class="ui positive button">Add</button>
    <div class="or"></div>
    <button class="ui negative button">Delete</button>
  </div>
  <div class="ui labeled icon input">
      <div class="ui blue label">
        Keyword: 
      </div>
      <input type="text" placeholder="Enter Keyword Here">
  </div>
</div>
<div class="ui divider"></div>
<div class="seven column centered row">
  <div class="ui labeled icon input">
      <div class="ui buttons">
        <button class="ui positive button">Positive</button>
        <div class="or"></div>
        <button class="ui negative button">Negative</button>
      </div>
  </div>
  <div class="ui labeled icon input">
      <div class="ui blue label">
        Keyword: 
      </div>
      <input type="text" placeholder="Enter Keyword Here">
  </div>
</div>
<div class="ui divider"></div>
<div class="one column centered row">
  <div class="ui left action input">
      <div class="ui blue button">
        <i class="calendar icon"></i>
      </div>
    <input type="text" placeholder="MM/DD/YYYY"></div>
  </div>
</div>
<div class="one column centered row">
  <div class="ui left action input">
      <div class="ui blue button">
        <i class="calendar icon"></i>
      </div>
    <input type="text" placeholder="MM/DD/YYYY"></div>
  </div>    
</div>
<div class="one column centered row">
  <div class="ui labeled icon input">
      <div class="ui blue label">
        Keyword: 
      </div>
      <input type="text" placeholder="Enter Keyword Here">
  </div>    
</div>


