<div class="two column row" ng-controller="resetPasswordController as password">
  <div class="column">
    <form class="ui form">
      <div class="field">
        <label>New Password</label>
        <input type="password" ng-model="password.newPassword" placeholder="******" required />
      </div>
      <div class="field">
        <label>Re-enter New Password</label>
        <input type="password" ng-model="password.confirmNewPassword" placeholder="******" required />
      </div>
      <button class="ui green button" type="Change Password" ng-click="password.resetPassword()">Reset Password</button>
    </form>
  </div>
</div>
