<div class="two column centered row" ng-controller="signupController as signup">
    <div class="column">
      <form class="ui form">
        <!-- <h4>SOTG provides streamlined API endpoints for all your twitter needs.</h4> -->
        <h3>Sign-up to get started!</h3>
        <div class="field">
          <label>Email Address</label>
          <input type="email" name="user-email" ng-model="signup.user.username" placeholder="text@blahblah.com" required/>
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" ng-model="signup.user.password" placeholder="******" required />
          <label>Confirm Password</label>
          <input type="password" ng-model="signup.user.confirmPassword" placeholder="******" required />
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0">
            <label>I agree to the terms and conditions of this amazing API.</label>
          </div>
        </div>
        <button class="ui button" type="submit" ng-click="signup.signUpUser()">Sign Up</button>
      </form>
    </div>
    <div ng-show="signup.error" class="ui negative message">
      <i ng-click="signup.error = null" class="close icon"></i>
      <div class="header">
      Whoops!
      </div>
      <p>{{ signup.error }}</p>
    </div>
</div>
